<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Codepage="1252" Id="de.getto.nicolas_Module" Language="1033" Version="1.0.0.0">
        <Package Description="de.getto.nicolas" Id="3ce10c03-1eba-49b1-8725-83d0bb09f02f" InstallerVersion="200" Languages="1033" Manufacturer="ACME" Platform="x64" SummaryCodepage="1252"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="_1" Name="de.getto.nicolas">
                <Component Guid="60c6752f-267b-4638-8a09-fea0f164dcf4" Id="_2" Win64="yes">
                    <File Id="exeFile" KeyPath="yes" Name="de.getto.nicolas.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\de.getto.nicolas.exe">
                        <Shortcut Description="de.getto.nicolas" Directory="ProgramMenuFolder" Id="ApplicationStartMenuShortcut" Name="de.getto.nicolas"/>
                    </File>
                    <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                    <RegistryValue Key="Software\ACME\de.getto.nicolas" Name="installed" Root="HKLM" Type="integer" Value="1"/>
                </Component>
                <Component Guid="a098351a-6631-4476-b324-a4fd38ce3112" Id="_3" Win64="yes">
                    <File Id="_3f" KeyPath="yes" Name="de.getto.nicolas.ico" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\de.getto.nicolas.ico"/>
                </Component>
                <Directory Id="_4" Name="jre">
                    <Directory Id="_5" Name="bin">
                        <Component Guid="fdb40e57-d67b-46ff-859f-54c414bf5e4f" Id="_6" Win64="yes">
                            <File Id="_6f" KeyPath="yes" Name="api-ms-win-core-console-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-console-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="039c32ca-7d12-43e1-8299-9b403e9e1d97" Id="_7" Win64="yes">
                            <File Id="_7f" KeyPath="yes" Name="api-ms-win-core-console-l1-2-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-console-l1-2-0.dll"/>
                        </Component>
                        <Component Guid="5ee826c8-3ec5-429d-8c38-cbbcd257374f" Id="_8" Win64="yes">
                            <File Id="_8f" KeyPath="yes" Name="api-ms-win-core-datetime-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-datetime-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="a5421f98-39ab-44bc-b036-3a2a7865587a" Id="_9" Win64="yes">
                            <File Id="_9f" KeyPath="yes" Name="api-ms-win-core-debug-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-debug-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="31871d68-b852-449b-bad6-1914c3235120" Id="_10" Win64="yes">
                            <File Id="_10f" KeyPath="yes" Name="api-ms-win-core-errorhandling-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-errorhandling-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="75c36f2a-81f0-439e-a558-a096be30176c" Id="_11" Win64="yes">
                            <File Id="_11f" KeyPath="yes" Name="api-ms-win-core-file-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-file-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="03828c28-505b-43ab-81c3-16c1f231d494" Id="_12" Win64="yes">
                            <File Id="_12f" KeyPath="yes" Name="api-ms-win-core-file-l1-2-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-file-l1-2-0.dll"/>
                        </Component>
                        <Component Guid="f2371b9a-e8ef-4d26-af14-daf55cc1d409" Id="_13" Win64="yes">
                            <File Id="_13f" KeyPath="yes" Name="api-ms-win-core-file-l2-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-file-l2-1-0.dll"/>
                        </Component>
                        <Component Guid="32654286-02ea-4c3e-acfe-857129856a33" Id="_14" Win64="yes">
                            <File Id="_14f" KeyPath="yes" Name="api-ms-win-core-handle-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-handle-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="3701e1c8-33d2-493c-963b-ed0edf30abe1" Id="_15" Win64="yes">
                            <File Id="_15f" KeyPath="yes" Name="api-ms-win-core-heap-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-heap-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="5801ccbe-41fb-4d08-bf50-647210f2fae4" Id="_16" Win64="yes">
                            <File Id="_16f" KeyPath="yes" Name="api-ms-win-core-interlocked-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-interlocked-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="50c526bf-5241-412f-b515-0a67df57b8c3" Id="_17" Win64="yes">
                            <File Id="_17f" KeyPath="yes" Name="api-ms-win-core-libraryloader-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-libraryloader-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="40e3aaba-8f16-4fb1-8e9d-8aae7b9773c3" Id="_18" Win64="yes">
                            <File Id="_18f" KeyPath="yes" Name="api-ms-win-core-localization-l1-2-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-localization-l1-2-0.dll"/>
                        </Component>
                        <Component Guid="8d455baf-1d47-4efd-a8b0-4ddc3c7cc0a8" Id="_19" Win64="yes">
                            <File Id="_19f" KeyPath="yes" Name="api-ms-win-core-memory-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-memory-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="32b7b8b6-a740-4cce-8c26-7867f61c9d54" Id="_20" Win64="yes">
                            <File Id="_20f" KeyPath="yes" Name="api-ms-win-core-namedpipe-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-namedpipe-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="e9d9edbf-29f3-4ca7-88fc-f93593b3d4c8" Id="_21" Win64="yes">
                            <File Id="_21f" KeyPath="yes" Name="api-ms-win-core-processenvironment-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-processenvironment-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="ff838e93-807c-4909-8b99-624b53377358" Id="_22" Win64="yes">
                            <File Id="_22f" KeyPath="yes" Name="api-ms-win-core-processthreads-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-processthreads-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="26d0d80d-68d4-4442-880d-993600e0942c" Id="_23" Win64="yes">
                            <File Id="_23f" KeyPath="yes" Name="api-ms-win-core-processthreads-l1-1-1.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-processthreads-l1-1-1.dll"/>
                        </Component>
                        <Component Guid="9c6735e2-1965-4ed5-93f2-ac330be98623" Id="_24" Win64="yes">
                            <File Id="_24f" KeyPath="yes" Name="api-ms-win-core-profile-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-profile-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="cff15d46-e6f1-49fd-a022-86cc8f7f4b41" Id="_25" Win64="yes">
                            <File Id="_25f" KeyPath="yes" Name="api-ms-win-core-rtlsupport-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-rtlsupport-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="22a1bd8a-8085-4c3a-b8d9-54a5bac096b7" Id="_26" Win64="yes">
                            <File Id="_26f" KeyPath="yes" Name="api-ms-win-core-string-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-string-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="16151944-76b1-477e-9db9-767709e86bf8" Id="_27" Win64="yes">
                            <File Id="_27f" KeyPath="yes" Name="api-ms-win-core-synch-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-synch-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="05dc9d80-8cac-4c59-b181-2e5aa4e3dda6" Id="_28" Win64="yes">
                            <File Id="_28f" KeyPath="yes" Name="api-ms-win-core-synch-l1-2-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-synch-l1-2-0.dll"/>
                        </Component>
                        <Component Guid="03820f17-bd64-4fa9-909f-fdc9fc3b4acb" Id="_29" Win64="yes">
                            <File Id="_29f" KeyPath="yes" Name="api-ms-win-core-sysinfo-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-sysinfo-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="47228a4e-794c-4c10-93fe-e36022c7eda9" Id="_30" Win64="yes">
                            <File Id="_30f" KeyPath="yes" Name="api-ms-win-core-timezone-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-timezone-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="165f7a4f-cf85-499d-a58b-68135d4b8445" Id="_31" Win64="yes">
                            <File Id="_31f" KeyPath="yes" Name="api-ms-win-core-util-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-core-util-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="7c36a4ef-1d3e-40ff-a70d-1e2f95ff94b3" Id="_32" Win64="yes">
                            <File Id="_32f" KeyPath="yes" Name="api-ms-win-crt-conio-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-conio-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="ff2170fc-f3fd-47be-a280-0a01b1d9132e" Id="_33" Win64="yes">
                            <File Id="_33f" KeyPath="yes" Name="api-ms-win-crt-convert-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-convert-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="4153e0a2-4316-446f-abc3-a6b73e71b530" Id="_34" Win64="yes">
                            <File Id="_34f" KeyPath="yes" Name="api-ms-win-crt-environment-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-environment-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="1602c4be-9a38-4807-8d9f-325cf9c2f307" Id="_35" Win64="yes">
                            <File Id="_35f" KeyPath="yes" Name="api-ms-win-crt-filesystem-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-filesystem-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="2f773365-1500-4e0d-9b56-9aa7419e7a9f" Id="_36" Win64="yes">
                            <File Id="_36f" KeyPath="yes" Name="api-ms-win-crt-heap-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-heap-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="ccfbb683-7a3a-45ed-bde0-3aeda020d01d" Id="_37" Win64="yes">
                            <File Id="_37f" KeyPath="yes" Name="api-ms-win-crt-locale-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-locale-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="d925ca52-29f1-4b21-b9c9-0847325f4c9a" Id="_38" Win64="yes">
                            <File Id="_38f" KeyPath="yes" Name="api-ms-win-crt-math-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-math-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="bc103760-4e4f-4997-914a-d355d28bfc0d" Id="_39" Win64="yes">
                            <File Id="_39f" KeyPath="yes" Name="api-ms-win-crt-multibyte-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-multibyte-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="d4e590a4-4ba4-4f63-a888-1fc43cb7b8b1" Id="_40" Win64="yes">
                            <File Id="_40f" KeyPath="yes" Name="api-ms-win-crt-private-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-private-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="1c3f3099-7296-45b5-94c7-c52736d2c025" Id="_41" Win64="yes">
                            <File Id="_41f" KeyPath="yes" Name="api-ms-win-crt-process-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-process-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="df821377-e143-474f-bf65-3a093f92d4dd" Id="_42" Win64="yes">
                            <File Id="_42f" KeyPath="yes" Name="api-ms-win-crt-runtime-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-runtime-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="1ffef2c6-8a0a-4552-900b-9f1629f8aa3b" Id="_43" Win64="yes">
                            <File Id="_43f" KeyPath="yes" Name="api-ms-win-crt-stdio-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-stdio-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="56695739-8864-44c1-b896-fad281f97ecc" Id="_44" Win64="yes">
                            <File Id="_44f" KeyPath="yes" Name="api-ms-win-crt-string-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-string-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="372477b4-e8a6-463b-9cc3-bd47105353d7" Id="_45" Win64="yes">
                            <File Id="_45f" KeyPath="yes" Name="api-ms-win-crt-time-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-time-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="7b3a7b18-172a-4eb2-982f-e0497dd1ddc1" Id="_46" Win64="yes">
                            <File Id="_46f" KeyPath="yes" Name="api-ms-win-crt-utility-l1-1-0.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\api-ms-win-crt-utility-l1-1-0.dll"/>
                        </Component>
                        <Component Guid="94526db6-794e-4ffd-a46a-584ab3003926" Id="_47" Win64="yes">
                            <File Id="_47f" KeyPath="yes" Name="awt.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\awt.dll"/>
                        </Component>
                        <Component Guid="9db33940-6e4b-40fc-822f-d61e38a95bcb" Id="_48" Win64="yes">
                            <File Id="_48f" KeyPath="yes" Name="fontmanager.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\fontmanager.dll"/>
                        </Component>
                        <Component Guid="8a1aebc6-d289-4098-a6cf-febadd6d60c6" Id="_49" Win64="yes">
                            <File Id="_49f" KeyPath="yes" Name="freetype.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\freetype.dll"/>
                        </Component>
                        <Component Guid="c24fcd58-5c75-4463-91e2-8a4db626fc36" Id="_50" Win64="yes">
                            <File Id="_50f" KeyPath="yes" Name="java.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\java.dll"/>
                        </Component>
                        <Component Guid="0820072f-3d4e-4652-bb39-42a7c0729f9c" Id="_51" Win64="yes">
                            <File Id="_51f" KeyPath="yes" Name="java.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\java.exe"/>
                        </Component>
                        <Component Guid="6f2c25ca-c9e3-4bc9-a4a3-7d894c27c2bb" Id="_52" Win64="yes">
                            <File Id="_52f" KeyPath="yes" Name="javajpeg.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\javajpeg.dll"/>
                        </Component>
                        <Component Guid="d02739dd-597d-486d-89c2-07514790b584" Id="_53" Win64="yes">
                            <File Id="_53f" KeyPath="yes" Name="javaw.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\javaw.exe"/>
                        </Component>
                        <Component Guid="e97f83a1-e7fb-4c92-8170-700b18e6de9e" Id="_54" Win64="yes">
                            <File Id="_54f" KeyPath="yes" Name="jawt.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jawt.dll"/>
                        </Component>
                        <Component Guid="cf83066f-cb07-440f-af4b-b30a3938a94b" Id="_55" Win64="yes">
                            <File Id="_55f" KeyPath="yes" Name="jfr.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jfr.exe"/>
                        </Component>
                        <Component Guid="c663ef5d-809a-4cf3-987a-3eed493a86a2" Id="_56" Win64="yes">
                            <File Id="_56f" KeyPath="yes" Name="jimage.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jimage.dll"/>
                        </Component>
                        <Component Guid="f8db6889-069d-4cfa-b2b6-00cc58b1366d" Id="_57" Win64="yes">
                            <File Id="_57f" KeyPath="yes" Name="jli.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jli.dll"/>
                        </Component>
                        <Component Guid="4ae95cd5-5b70-433d-97d0-124eaa2f02f7" Id="_58" Win64="yes">
                            <File Id="_58f" KeyPath="yes" Name="jrunscript.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jrunscript.exe"/>
                        </Component>
                        <Component Guid="77c6e01d-416f-48b6-a445-9ad9e5321e0b" Id="_59" Win64="yes">
                            <File Id="_59f" KeyPath="yes" Name="jsound.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\jsound.dll"/>
                        </Component>
                        <Component Guid="d7f7f5bf-e27b-4089-be50-4bc4c5323698" Id="_60" Win64="yes">
                            <File Id="_60f" KeyPath="yes" Name="keytool.exe" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\keytool.exe"/>
                        </Component>
                        <Component Guid="71417d0e-f78f-416a-99a6-baa05a146150" Id="_61" Win64="yes">
                            <File Id="_61f" KeyPath="yes" Name="lcms.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\lcms.dll"/>
                        </Component>
                        <Component Guid="30409a09-3abb-438c-8eb9-c9559c384474" Id="_62" Win64="yes">
                            <File Id="_62f" KeyPath="yes" Name="mlib_image.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\mlib_image.dll"/>
                        </Component>
                        <Component Guid="de094712-9976-4cee-9492-e6095b92cd3f" Id="_63" Win64="yes">
                            <File Id="_63f" KeyPath="yes" Name="msvcp140.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\msvcp140.dll"/>
                        </Component>
                        <Component Guid="4dbd1ac1-62c2-4a31-82c9-aecb7dbe7e3d" Id="_64" Win64="yes">
                            <File Id="_64f" KeyPath="yes" Name="net.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\net.dll"/>
                        </Component>
                        <Component Guid="8367f6b5-4431-42c5-a94f-32c4fa95db47" Id="_65" Win64="yes">
                            <File Id="_65f" KeyPath="yes" Name="nio.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\nio.dll"/>
                        </Component>
                        <Component Guid="996354bf-62ef-4446-89e1-3a5ffc805e08" Id="_66" Win64="yes">
                            <File Id="_66f" KeyPath="yes" Name="prefs.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\prefs.dll"/>
                        </Component>
                        <Directory Id="_67" Name="server">
                            <Component Guid="79d82e9d-b698-4c96-9147-07da92ab371f" Id="_68" Win64="yes">
                                <File Id="_68f" KeyPath="yes" Name="jvm.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\server\jvm.dll"/>
                            </Component>
                        </Directory>
                        <Component Guid="071049fa-1ad1-4fb0-b99e-6376fc4f8882" Id="_69" Win64="yes">
                            <File Id="_69f" KeyPath="yes" Name="splashscreen.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\splashscreen.dll"/>
                        </Component>
                        <Component Guid="d3ede9d8-0356-4357-9aba-7bddff7af72b" Id="_70" Win64="yes">
                            <File Id="_70f" KeyPath="yes" Name="ucrtbase.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\ucrtbase.dll"/>
                        </Component>
                        <Component Guid="835befb9-4a21-4957-88c4-fdce5e14e792" Id="_71" Win64="yes">
                            <File Id="_71f" KeyPath="yes" Name="vcruntime140.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\vcruntime140.dll"/>
                        </Component>
                        <Component Guid="0533e5f5-0e5e-4390-abcb-9bd1f3f1d5d4" Id="_72" Win64="yes">
                            <File Id="_72f" KeyPath="yes" Name="vcruntime140_1.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\vcruntime140_1.dll"/>
                        </Component>
                        <Component Guid="74cf2231-3020-454b-98f6-98a6f2c50b45" Id="_73" Win64="yes">
                            <File Id="_73f" KeyPath="yes" Name="verify.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\verify.dll"/>
                        </Component>
                        <Component Guid="8bcb6489-9f3f-4e87-a37d-51eb0f7cd2af" Id="_74" Win64="yes">
                            <File Id="_74f" KeyPath="yes" Name="zip.dll" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\bin\zip.dll"/>
                        </Component>
                    </Directory>
                    <Directory Id="_75" Name="conf">
                        <Component Guid="406a68a4-9d5f-47fa-bce5-710c5055bd7a" Id="_76" Win64="yes">
                            <File Id="_76f" KeyPath="yes" Name="net.properties" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\net.properties"/>
                        </Component>
                        <Directory Id="_77" Name="security">
                            <Component Guid="e177da07-3075-45a0-bfb9-7e9340029f84" Id="_78" Win64="yes">
                                <File Id="_78f" KeyPath="yes" Name="java.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\java.policy"/>
                            </Component>
                            <Component Guid="99369bd0-8b68-43ff-a802-fef23d699ea5" Id="_79" Win64="yes">
                                <File Id="_79f" KeyPath="yes" Name="java.security" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\java.security"/>
                            </Component>
                            <Directory Id="_80" Name="policy">
                                <Directory Id="_81" Name="limited">
                                    <Component Guid="11215077-7a77-4b8c-8b0a-ca0882af1103" Id="_82" Win64="yes">
                                        <File Id="_82f" KeyPath="yes" Name="default_local.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\limited\default_local.policy"/>
                                    </Component>
                                    <Component Guid="47823ee6-435b-4413-8229-0dfacaa1b94c" Id="_83" Win64="yes">
                                        <File Id="_83f" KeyPath="yes" Name="default_US_export.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\limited\default_US_export.policy"/>
                                    </Component>
                                    <Component Guid="f16d0e9a-f685-4f3b-91cf-7994700a6d9e" Id="_84" Win64="yes">
                                        <File Id="_84f" KeyPath="yes" Name="exempt_local.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\limited\exempt_local.policy"/>
                                    </Component>
                                </Directory>
                                <Component Guid="60715b04-4093-479f-a656-43d942333f02" Id="_85" Win64="yes">
                                    <File Id="_85f" KeyPath="yes" Name="README.txt" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\README.txt"/>
                                </Component>
                                <Directory Id="_86" Name="unlimited">
                                    <Component Guid="42fdf61e-4aa9-416d-b6ab-93cab464cc38" Id="_87" Win64="yes">
                                        <File Id="_87f" KeyPath="yes" Name="default_local.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\unlimited\default_local.policy"/>
                                    </Component>
                                    <Component Guid="56524b50-5eb9-4a12-8d3e-25d13a0c8539" Id="_88" Win64="yes">
                                        <File Id="_88f" KeyPath="yes" Name="default_US_export.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\security\policy\unlimited\default_US_export.policy"/>
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                        <Component Guid="b6b9b710-2136-40e3-b9e5-0a55bdfb481d" Id="_89" Win64="yes">
                            <File Id="_89f" KeyPath="yes" Name="sound.properties" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\conf\sound.properties"/>
                        </Component>
                    </Directory>
                    <Directory Id="_90" Name="lib">
                        <Component Guid="e9cff77a-ccc5-4cae-9a93-6601fbc3377b" Id="_91" Win64="yes">
                            <File Id="_91f" KeyPath="yes" Name="classlist" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\classlist"/>
                        </Component>
                        <Component Guid="e2a8e004-3f2c-4d87-b552-854e982a4194" Id="_92" Win64="yes">
                            <File Id="_92f" KeyPath="yes" Name="fontconfig.bfc" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\fontconfig.bfc"/>
                        </Component>
                        <Component Guid="318394d4-f726-4711-b42b-8d5851cc0648" Id="_93" Win64="yes">
                            <File Id="_93f" KeyPath="yes" Name="fontconfig.properties.src" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\fontconfig.properties.src"/>
                        </Component>
                        <Component Guid="9bdc8e68-27a0-45a1-8881-5d30129f481b" Id="_94" Win64="yes">
                            <File Id="_94f" KeyPath="yes" Name="jawt.lib" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jawt.lib"/>
                        </Component>
                        <Directory Id="_95" Name="jfr">
                            <Component Guid="ad7d20de-932f-4ccc-92a8-40a5e30d8a0c" Id="_96" Win64="yes">
                                <File Id="_96f" KeyPath="yes" Name="default.jfc" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jfr\default.jfc"/>
                            </Component>
                            <Component Guid="8545c3b4-a3c2-4612-8c36-18e9e31d1df0" Id="_97" Win64="yes">
                                <File Id="_97f" KeyPath="yes" Name="profile.jfc" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jfr\profile.jfc"/>
                            </Component>
                        </Directory>
                        <Component Guid="9d880eb6-abcb-4ed7-accd-05016178abd4" Id="_98" Win64="yes">
                            <File Id="_98f" KeyPath="yes" Name="jrt-fs.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jrt-fs.jar"/>
                        </Component>
                        <Component Guid="3464b2a4-5fda-403c-ac7a-053f2b3bd6e8" Id="_99" Win64="yes">
                            <File Id="_99f" KeyPath="yes" Name="jvm.cfg" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jvm.cfg"/>
                        </Component>
                        <Component Guid="392b154e-1dc9-450b-963e-0b27def8e719" Id="_100" Win64="yes">
                            <File Id="_100f" KeyPath="yes" Name="jvm.lib" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\jvm.lib"/>
                        </Component>
                        <Component Guid="496223e5-6721-44e6-9368-e8f59a3c18eb" Id="_101" Win64="yes">
                            <File Id="_101f" KeyPath="yes" Name="modules" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\modules"/>
                        </Component>
                        <Component Guid="472c354b-1ac2-48b1-8a05-0cf022abd2dd" Id="_102" Win64="yes">
                            <File Id="_102f" KeyPath="yes" Name="psfont.properties.ja" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\psfont.properties.ja"/>
                        </Component>
                        <Component Guid="a2f246bc-27f3-410f-9f99-c5fd4fcf9940" Id="_103" Win64="yes">
                            <File Id="_103f" KeyPath="yes" Name="psfontj2d.properties" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\psfontj2d.properties"/>
                        </Component>
                        <Directory Id="_104" Name="security">
                            <Component Guid="7e34ea82-c619-4f6f-a1cf-74918651f1d8" Id="_105" Win64="yes">
                                <File Id="_105f" KeyPath="yes" Name="blacklisted.certs" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\security\blacklisted.certs"/>
                            </Component>
                            <Component Guid="c753985b-09b9-4433-829c-716a5fbd539c" Id="_106" Win64="yes">
                                <File Id="_106f" KeyPath="yes" Name="cacerts" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\security\cacerts"/>
                            </Component>
                            <Component Guid="a3ca8768-64f0-4850-a517-cf5938fcbef1" Id="_107" Win64="yes">
                                <File Id="_107f" KeyPath="yes" Name="default.policy" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\security\default.policy"/>
                            </Component>
                            <Component Guid="cf1b14aa-981a-4010-b338-14d8178f03c8" Id="_108" Win64="yes">
                                <File Id="_108f" KeyPath="yes" Name="public_suffix_list.dat" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\security\public_suffix_list.dat"/>
                            </Component>
                        </Directory>
                        <Component Guid="808fc67c-6218-469a-bef7-41672d612569" Id="_109" Win64="yes">
                            <File Id="_109f" KeyPath="yes" Name="tzdb.dat" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\tzdb.dat"/>
                        </Component>
                        <Component Guid="b5d28510-81c1-4a75-9fd1-a1e0ef560d1d" Id="_110" Win64="yes">
                            <File Id="_110f" KeyPath="yes" Name="tzmappings" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\lib\tzmappings"/>
                        </Component>
                    </Directory>
                    <Component Guid="071c1d5c-0584-456c-b72b-273ce3414093" Id="_111" Win64="yes">
                        <File Id="_111f" KeyPath="yes" Name="release" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\jre\release"/>
                    </Component>
                </Directory>
                <Directory Id="_112" Name="libs">
                    <Component Guid="d9bbe8ab-d1fc-4026-a0f8-e973fca02cb3" Id="_113" Win64="yes">
                        <File Id="_113f" KeyPath="yes" Name="javafx-base-15.0.1-win.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-base-15.0.1-win.jar"/>
                    </Component>
                    <Component Guid="3851e66f-d268-46b0-b83b-20819d93f397" Id="_114" Win64="yes">
                        <File Id="_114f" KeyPath="yes" Name="javafx-base-15.0.1.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-base-15.0.1.jar"/>
                    </Component>
                    <Component Guid="0a336a2e-beca-4345-8c98-b4b793d01869" Id="_115" Win64="yes">
                        <File Id="_115f" KeyPath="yes" Name="javafx-controls-15.0.1-win.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-controls-15.0.1-win.jar"/>
                    </Component>
                    <Component Guid="50779e9f-51e8-4ef6-bc23-d627fe959405" Id="_116" Win64="yes">
                        <File Id="_116f" KeyPath="yes" Name="javafx-controls-15.0.1.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-controls-15.0.1.jar"/>
                    </Component>
                    <Component Guid="54b9cdf7-e6e4-4600-8d99-5710b21a457c" Id="_117" Win64="yes">
                        <File Id="_117f" KeyPath="yes" Name="javafx-fxml-16-ea+5-win.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-fxml-16-ea+5-win.jar"/>
                    </Component>
                    <Component Guid="b948760a-e751-433b-a29c-b9295814b2bb" Id="_118" Win64="yes">
                        <File Id="_118f" KeyPath="yes" Name="javafx-fxml-16-ea+5.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-fxml-16-ea+5.jar"/>
                    </Component>
                    <Component Guid="abc17d14-0567-409a-97d7-ce752a5acaf0" Id="_119" Win64="yes">
                        <File Id="_119f" KeyPath="yes" Name="javafx-graphics-15.0.1-win.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-graphics-15.0.1-win.jar"/>
                    </Component>
                    <Component Guid="e2790a7a-9468-487f-8a0a-813c9637123e" Id="_120" Win64="yes">
                        <File Id="_120f" KeyPath="yes" Name="javafx-graphics-15.0.1.jar" Source="C:\Users\Nick\Desktop\Semester5\Projektarbeit\rs\de.getto.nicolas\target\de.getto.nicolas\libs\javafx-graphics-15.0.1.jar"/>
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder"/>
        </Directory>
    </Module>
</Wix>
